langchain
python-dotenv
ipykernel
langchain_community
pypdf
unstructured
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain-Ollama
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
streamlit
langchain-groq
fastAPI
uvicorn
langserve[all]
sse_starlette
pydantic
duckduckgo-search
mysql-connector-python
validators==0.28.1
youtube_transcript_api
pytube
numexpr
huggingface_hub
ipywidgets

#Querying PDF With Astra and LangChain
cassio
datasets
langchain
openai
tiktoken
PyPDF2

#MS SQL Server
pyodbc
sqlalchemy